{{define "head"}}
<title>Інформація</title>
{{end}}
{{define "body"}}


<div class="main-photo position-relative overflow-hidden p-3 p-md-5 text-center bg-dark m-0" style="background-image: url('media/{{.Image}}')">
  <div class="col-md-5 p-lg-5 mx-auto my-5" >
    <h1 class="display-4 font-weight-normal">{{.Brand}} {{.Model}}</h1>
    <p class="lead font-weight-normal"></d></p>
    <a class="btn badge-info" href="#">Coming soon</a>
  </div>

</div>
<div class="container">
  <div class="w-100 text-center font-weight-bold">{{.Brand}} {{.Model}}</div>
  <p>
    {{if .Description}}
      {{ .Description  }}
    {{else}}
    <div>Опис відсутній</div>
    {{end}}
  </p>
</div>
<style>
  .main-photo {
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
  }
  .container div {
    font-size: 25px;
    margin:  20px 0;
  }
</style>

{{end}}