{{define "head"}}<title>Автомобілі</title>{{end}}
{{define "body"}}


<div class="container">
    <div class="row">
        {{range .Cars}}
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow">
                <a href="/car-info?name={{ .Brand }}_{{ .Model }}">
                <img src="media/{{.Image}}" class="card-img-top hover-zoom" alt="...">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">{{ .Model }}</h5>
                    <div class="card-text text-black-50">{{ .Brand }}</div>
                    <a href="/car-info?name={{ .Brand }}_{{ .Model }}" class="btn btn-primary" style="color: white; cursor: pointer">Детальніше</a>
                </div>

            </div>
        </div>
        {{end}}
    </div>
</div>



{{end}}


