{{define "head"}}
<title>Контакти</title>
{{end}}
{{define "body"}}
<div class="content container">
<form  class="d-flex  flex-column     align-items-center" action="/contact" method="post">
  <div style="max-width: 500px; width: 100%">
  <div class="form-group">
    <label for="user_name">Ім'я</label>
    <input type="text" class="form-control" id="user_name" name="user_name"   placeholder="Введіть ім'я"  required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email"   placeholder="Введіть email" required>
  </div>
  <div class="form-group">
    <label for="description">Текст звернення</label>
    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Опишить мету вашого звернення" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary w-100">Відправити</button>
  </div>
</form>
</div>


{{end}}